body,
#root {
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

*,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}